{
  "config": {
    "twitchextclientid": "",
    "twitchextsecret": "",
    "twitchextapisecret": "",
    "broadcasterredirecturl": "",
    "chatbotredirecturl": "",
    "chatbottwitchid": "",
    "eventsubredemptioncallbackurl": ""
  }
}
